<link rel="stylesheet" href="/css/user_styles.css">
<div class="container">
    <div class="wrapper">
        <header>
            <h1>TODO APP</h1>
            <% if(locals.user){ %> 
                <div>Your Shareable Link: <span id="link"></span>/<%= user.shareLink%></div>
                
                <a href="/user/logout">Logout</a>
            <% } %> 
        </header>

        <form action="/user/add-todo" method="post" id="add-task-form">
            <div id="description-container">
                <label for="description">Description</label>
                <textarea name="description" id="description" placeholder="Enter your todo task."></textarea>
            </div>
            <div id="category-container">
                <label for="category">Category</label>
                <select name="category" id="category">                        
                    <option value="">Choose A Category</option>
                    <option value="personal">Personal</option>
                    <option value="work">Work</option>
                    <option value="school">School</option>
                    <option value="cleaning">Cleaning</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div id="due-date-container">
                <label for="due-date">Due Date</label>
                <input type="date" name="date" id="due-date">
            </div>
        </form>
        <div id="btns-container">
            <button type="submit" class="btn black" id="add-btn" form="add-task-form"><i class="fa fa-plus"></i> ADD TASK</button>
            <button class="btn red" id="delete-btn"> <i class="fa fa-trash"></i> DELETE TASK</button>
        </div>
    </div>
    <div class="todo-container">
        <% for(let i = 0; i< todos.length; i++){ %> 
        <div class="todo">
            <input type="checkbox" name="todo-pending" class="pending-todo" value="<%= todos[i].id %>">  
            <div class="todo-details">
                <h3><%= todos[i].description %></h3>
                <p> <i class="fa fa-calendar"></i> <%= date[i] %></p>
            </div>
            
            <% if(todos[i].category == "work" ){ %>
                <div class="todo-category purple">
            <% }else if( todos[i].category == "cleaning"){ %>
                <div class="todo-category black">
            <% }else if( todos[i].category == "other"){ %>
                <div class="todo-category blue">
            <% }else if( todos[i].category == ""){ %>
                <div class="todo-category transparent">
            <% } else{ %>
                <div class="todo-category">
            <% } %>
                    <%= todos[i].category %>
                </div>

        </div>
        <% } %>
    </div>
</div>

<script src="/js/script.js">
$(window).load(function(){
    $('#link').text(window.location.hostname); 
}); 
    
</script>

